/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --btn-color: #353430;
  --background-color: #000028;
  --border-color: #32312d66;
  --text-color: #f1b2ce;
  --header-title-color: #ffc2e6;
  --decorated__element-color: #353430;
  --decorated__element-display: none;
  --text-color: #353430;
  --section__title-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --btn-color: #353430;
    --background-color: #000028;
    --border-color: #32312d66;
    --text-color: #f1b2ce;
    --header-title-color: #ffc2e6;
    --decorated__element-color: #353430;
    --decorated__element-display: none;
    --text-color: #353430;
    --section__title-color: #353430;
  }
}
