/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed; /*фон остается на месте при прокрутке страницы*/
  background-color: var(--background-color);
  background-size: cover;
}

.header {
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-bottom: 40px;
  position: relative;
}

.header__theme-menu-list {
  display: grid;
  justify-self: end;
  gap: 10px;
  margin-top: 66px;
  width: 70px;
}

.header__theme-menu-button {
  width: 70px;
  min-height: 26px;
  font-family: var(--font-family), Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  text-transform: lowercase;
  line-height: 18px;
  color: var(--btn-color);
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--btn-color);
}

.decorated__element {
  position: absolute;
  display: var(--decorated-element-display);
  align-items: center;
  gap: 10px;
  justify-self: end;
  color: var(--accent-color);
  font-family: var(--font-family), Arial, sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 25px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  margin-right: 19px;
  margin-top: 10px;
}

.decorated__element:after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorative-corner::before {
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decorated-element-color);
  border-right: 1px solid var(--decorated-element-color);
  inline-size: 25px;
  block-size: 25px;
  content: "";
}

.decorative-corner::after {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decorated-element-color);
  border-left: 1px solid var(--decorated-element-color);
  inline-size: 25px;
  block-size: 25px;
  content: "";
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family), Arial, sans-serif;
  font-weight: 700;
  line-height: 83%;
  letter-spacing: normal;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  /*color: #000028;*/
  color: var(--title-decor-color);
  font-family: var(--font-family), Arial, sans-serif;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: normal;
}

.header__text {
  gap: 0;
  width: 100%;
  margin-top: 55px;
}

.section {
  display: grid;
  gap: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 50px;
}

.section__title {
  font-family: var(--font-family), Arial, sans-serif;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: normal;
  color: var(--section-title-color);
}

.section__answer {
  display: grid;
  gap: 20px;
}

.section__grid {
  display: grid;
  gap: 10px;
}

.text-decor {
  font-family: var(--font-family), Arial, sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: normal;
  color: var(--text-color);
}

.section__advice_answer__title {
  font-weight: 400;
}

.question__section-answer-link {
  font-family: var(--font-family), Arial, sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 100%;
  letter-spacing: normal;
  color: var(--text-color);
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.question__section-answer-link:hover {
  text-decoration: underline;
}

.question__section-answer-link:focus {
  outline: none;
}

.question__section-answer-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.question__section__image {
  display: grid;
  gap: 10px;
}

.question__section {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  gap: 10px;
}

.question__section__image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  margin-top: 40px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family), Arial, sans-serif;
  font-weight: 700;
  line-height: 83%;
  letter-spacing: normal;
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--btn-color);
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    margin-bottom: 60px;
    padding: 0px;
  }

  .header__theme-menu-list {
    margin-top: 192px;
    margin-right: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    display: flex;
    align-items: end;
    justify-self: start;
  }

  .header__text {
    justify-self: end;
    max-width: 364px;
    margin-top: 162px;
    margin-right: 20px;
  }

  .decorated__element {
    margin-top: 20px;
    margin-right: 29px;
  }

  .decorative-corner::before {
    top: 20px;
    right: 20px;
  }

  .decorative-corner::after {
    bottom: 20px;
    left: 20px;
  }

  .section__concentration,
  .section__advice {
    grid-auto-flow: column;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    padding-right: 20px;
    padding-left: 20px;
  }
  .section {
    margin-bottom: 80px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .section__advice {
    margin-bottom: 79px;
  } /**/

  .section__reduced_concentration__title {
    max-width: 236px;
  }

  .question__section__image {
    gap: 20px;
  }

  .question__section {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    gap: 20px;
  }

  .question__section__image-mountains {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .question__section__image-item-ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .question__section__image-item-cassette {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }

  .question__section__image-item-books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .question__section__image-item-street {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
  }

  .footer {
    min-height: 1024px;
    margin-top: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    padding: 0px;
    margin-bottom: 60px;
  }

  .header__theme-menu-list {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 0px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    display: flex;
    align-items: end;
    justify-self: start;
  }

  .header__text {
    justify-self: end;
    align-self: center;
    max-width: 491px;
    margin: 0px 20px 21px 0px;
  }

  .section__concentration,
  .section__advice {
    grid-auto-flow: column;
    gap: 19.93px;
    grid-template-columns: 1fr 2.06fr;
    padding-right: 20px;
    padding-left: 20px;
  }
  .section {
    margin-bottom: 80px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .section__grid {
    align-self: start;
  }
  .section__reduced_concentration_answer {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__reduced_concentration__title {
    max-width: 315px;
  }

  .question__section__image {
    gap: 20px;
  }

  .question__section {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    gap: 20px;
  }

  .question__section__image-mountains {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .question__section__image-item-ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .question__section__image-item-cassette {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }

  .question__section__image-item-books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .question__section__image-item-street {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
  }

  .footer {
    min-height: 768px;
    margin-top: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
